@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*--------------------------------------------STRUKTURA*/

body{
/*background-color: lightgrey;*/
font-family: 'Open Sans', sans-serif;
padding-top: 52px;
}

nav {
    padding-top: 4px;
    max-width: 1000px;
    margin: 0 auto;
}


.container-fluid {
    margin: 0 auto;
    max-width: 1000px;
    /*background-color: lightblue;*/
    /*border: 1px dashed navy;*/

}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}



/*--------------------------------------------NAVBAR*/

.navbar-brand {
    margin-right: 50px;
    margin-top: -2px;
}

.navbar-header {
    width: 100px;
}


#my-navbar.navbar-default {
    font-size: 14px;
    border-bottom-width: 1px;
    padding-bottom: 5px;
}

#my-navbar.navbar-default .navbar-nav>li>a:hover{
    color: white;
    background-color: rgba(16, 138, 209, 1);
    border-radius: 5px;

}

#my-navbar.navbar-default .navbar-nav>li {
    margin-left: 20px;
}

#my-navbar.navbar-default .navbar-nav>li:first-child {
    margin-left: 30px;
}


/*--------------------------------------------HEADER*/
#header{
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    /*background-color: yellow;*/
    text-align: center;
}

#header-con {
    height: 80px;
}

.glyphicon-shopping-cart{
    font-size: 5em;
    color: #108ad1;
}


.img-header{
    margin-top: 10px;/*
    text-align: middle;*/
    margin-right: 30px;
    max-height: 150px !important;

}

.navbar-form {
padding-top: 20px;

}

.input-group {
    margin-top: 30px;
    /*border: 1px solid black;*/
}


/*--------------------------------------------CAROUSEL*/

.cared {
    width: auto;
    /*height: 400px;*/
    height: 300px;
}


.carousel-indicators li {
    background-color: white;
    opacity: 0.9;
    border: 1px solid darkgrey;
}
.carousel-indicators .active {
    background-color: #108ad1;
}

.carousel-caption {
    top: 50%;
    transform: translateX(50%);
}


.testing {

}


/*--------------------------------------------CATEGORIES*/

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top: 85px;
    width:228px;
  }
}

.affix,.affix-top {
   position:static;
}



/*--------------------------------------------PRODUCTS*/
.product_image {

    height: 150px;
    width: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.product_image img {
    display: inline-block;
    max-width: 150px;
    max-height: 150px;

    cursor: copy;
}

.single_product {
    /*min-height: 300px;*/
    padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;

    vertical-align: middle;
    text-align: center;
}
.product_title {
    font-size: 15px;
    font-weight: bold !important;
    margin-top: 15px;
    min-height: 55px;

}

.product_price {
    font-size: 1.3em;
    float: left;
    color: #108ad1;
    width: 100%;

}

/*--------------------------------------PRODUCTS---MODAL--*/
.modal-header, .modal-header h4,.close {
      background-color: #108ad1;
      color:white ;
      text-align: center;
      font-size: 30px;
  }

.description {
height: 150px;
    width: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    border-bottom: 1px solid #108ad1;

    padding-left: 25px;
    padding-right: 25px;
}

.description img {


    display: inline-block;

    max-width: 500px;
    padding-bottom: 25px;
    width: 70%;
}


.floating_glyphicon {
    float: right;
}




/*--------------------------------------------FLOATING-SING-IN-SCREEN*/

.sign_up_form {
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.sign_up_form p {
    font-size: 11px;
    margin-bottom: 0px;
    color: white;
}

.sign_up_form a {
    float: right;
    background-color: #60869F;
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

#sign_in_div {
    z-index: 1000;
    top: 60px;
    position: absolute;
    /*background-color: #2F3655;*/
    background: -moz-linear-gradient(325deg, #48364B 0%, #252D4E 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #48364B), color-stop(100%, #252D4E)); /* safari4+,chrome */
    background: -webkit-linear-gradient(325deg, #48364B 0%, #252D4E 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(325deg, #48364B 0%, #252D4E 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(325deg, #48364B 0%, #252D4E 100%); /* ie10+ */
    background: linear-gradient(125deg, #48364B 0%, #252D4E 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48364B', endColorstr='#252D4E',GradientType=1 ); /* ie6-9 */

    min-height: 100px;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: none;

}

#sign_in_div.affix-top {
    position: fixed;
  }
  
  #sign_in_div.affix {
    position: fixed;
    top: 60px;
  }



/*--------------------------------------------COLUMNS*/

/*.product_price, .product_image, .product_title,.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,  .col-md-7,  
.col-md-8,  .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    border: 1px solid darkgrey;
}
*/

