@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "../../css/internal/login_style.css";



body{
/*background-color: lightgrey;*/
font-family: 'Open Sans', sans-serif;
padding-top: 52px;
}

.submenu {
	/*border: 1px solid black;*/
	padding-top: 35px;
	padding-left: 35px;
	font-size: 17px;
}

#new_items, #modify_items {
	font-size: 14px;
}


.page-header {
	/*border: 1px solid black;*/
	margin-left: 20px;
	margin-right: 20px;
}

.col-md-8 {
	padding-top: 35px;
}

/*--------------------------------------------TABLE*/

table {

	table-layout: fixed;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: rgba(114, 114, 114, 0.15);
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.btn-xs {
	padding:0 20px 0 20px;
}

/*--------------------------------------------MODIFY-PRODUCTS---*/
.selectCategory {
	margin-bottom: 15px;
}

.imageClip{
	display: table-cell; 
	width: 60%;
	height: auto;
}

/*--------------------------------------------DASHBAORD-ADMIN---*/
.dashboard{
	padding-top: 10px;
    font-size: 4.5em;
}

.special-panel {

	height: 200px;
}

.plussize {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}



/*.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-1,.product_price, .product_image, .product_title,.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,  .col-md-7,  
.col-md-8,  .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-4{
    border: 1px solid darkgrey;
}*/